/* ::::: http://cdn.realblog.pro/pg-new-kartunkova-ecoslim/css/style.css ::::: */

body { margin: 0px; padding: 0px; font-family: Arial,Tahoma,sans-serif; font-size: 15px; background: rgb(248, 246, 243) none repeat scroll 0% 0%; }
a { color: rgb(10, 120, 194); outline: medium none; text-decoration: underline; }
a:hover { text-decoration: none; }
p { margin: 0px 0px 11px; }
img { border: medium none; display: inline-block; }
.middle { width: 100%; max-width: 600px; margin: 10px auto; text-align: center; }
.w100 { width: 100% ! important; max-width: 100% ! important; }
.btn { display: inline-block; color: rgb(214, 4, 59); font-size: 26px; margin: 10px auto; }
.btn:hover { color: rgb(39, 201, 66); }
.wrapper { width: 98%; max-width: 960px; margin: 0px auto; border-width: 0px 1px 1px; border-style: none solid solid; border-color: rgb(204, 204, 204); border-image: none; background-color: rgb(255, 255, 255); padding-top: 10px; box-shadow: 0px 0px 30px rgb(204, 204, 204); }
.wrapper > div { text-align: center; padding: 10px 0px; }
a.head { text-decoration: none; }
#content { background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding: 0px; text-align: left; font-size: 16px; line-height: 24px; }
#content .padWrap { padding: 15px; }
#content h1 { font-size: 31px; line-height: 33px; font-weight: normal; margin: 0px 0px 15px; color: rgb(132, 23, 30); padding-top: 10px; }
#content img { width: 100%; max-width: 650px; display: block; margin: 20px 0px; }
.blockQuote { padding-left: 65px; min-height: 60px; margin: 15px 0px; }
.guest { background: transparent url('devushka.png') no-repeat scroll 0% 0% / 50px 50px; }
.malahov { background: transparent url('malahov.png') no-repeat scroll 0% 0% / 50px 50px; }
#comments { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
#comments h2 { background: rgb(119, 119, 119) none repeat scroll 0% 0%; padding: 15px; color: rgb(255, 255, 255); font-size: 32px; font-weight: normal; margin: 0px; }
#comments h2 small { font-size: 18px; color: rgb(68, 68, 68); vertical-align: top; }
#comments .item { text-align: left; padding: 10px; margin: 10px 0px; min-height: 80px; border-bottom: 1px solid rgb(229, 229, 229); }
#comments .item .info { margin-left: 75px; }
#comments .item > img { position: absolute; border: 2px solid rgb(172, 172, 172); }
#comments .item .name { font-size: 16px; font-style: italic; font-weight: bold; color: rgb(102, 102, 102); }
#comments .item .date { font-size: 15px; color: rgb(172, 172, 172); }
#comments .item .info p { display: block; font-size: 15px; line-height: 19px; margin-top: 4px; }
#comments .item .info img { width: 100%; max-width: 320px; display: block; margin: 0px auto; }
a.button24 { display: inline-block; color: white; text-decoration: none; padding: 0.5em 2em; margin: 30px 0px; outline: medium none; border-width: 2px 0px; border-style: solid none; border-color: rgb(253, 190, 51) rgb(0, 0, 0) rgb(215, 114, 6); border-radius: 36px; background: rgb(227, 137, 22) linear-gradient(rgb(243, 174, 15), rgb(227, 137, 22)) repeat scroll 0% 0%; transition: all 0.2s ease 0s; font-size: 28px; }
a.button24:hover { background: rgb(245, 174, 0) linear-gradient(rgb(245, 174, 0), rgb(245, 149, 0)) repeat scroll 0% 0%; }
a.button24:active { background: rgb(245, 149, 0) linear-gradient(rgb(245, 149, 0), rgb(245, 174, 0)) repeat scroll 0% 0%; }
@media screen and (max-width: 600px) {
	.miniHeader { display: none; width: 100% ! important; }
	.wrapper { padding-top: 0px; }
	#content h1 { font-size: 21px; }
	.header2 { width: 100%; }
	.blockQuote { background-size: 32px 32px; padding-left: 40px; }
}
/*@media screen and (min-width: 600px) {
	.miniHeader { width: 100%; background: transparent url('header.png') no-repeat scroll 0% 0%; height: 150px; }
}
img.aligncenter { margin: 20px auto ! important; display: block ! important; }
.clear { clear: both; }
